  
  <div class="alert-success">
    <p id="notice"><%= flash[:notice] %></p>
  </div>
  
  <div class="alert-warning"> 
    <p id="flash-error"><%= flash[:error] %></p>
  </div>

  <div class="alert-danger"> 
    <p id="flash-alert"><%= flash[:alert] %>
    </p>
  </div>
