
<div id="footer" class="container">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
           <a href="http://www.grepruby.com" target='blank'> <div class="btn btn-danger"> GrepRuby Webtech Pvt. Ltd </div> </a> |
           <%= link_to 'Contact Us' %> | <%= link_to 'About Us' %> | <%= link_to 'Feedback' %>
        </div>
    </nav>
</div>
