<body>
<% if user_signed_in? %>
  
  </br></br></br></br>
  
  <%= render partial: 'flash', :locals => { flash: flash } %>
  
  <%= render 'header1'%>
  
  <%= render 'form' %>
  
  <%= render 'posts/post' %>
  
<% end %>
</body>
